{% extends 'base.html' %}

{% block content %}

{% if categorie_posts %}

<h1>{{ cats }}</h1>

<ul>
{% for post in categorie_posts %}
    <li> <a href="{% url 'post-details' post.pk %}">{{post.title}}</a> - {{post.categorie}} - {{post.author}} <small>{{ post.post_date }}</small>

        {% if user.is_authenticated %}
        <small><a href="{% url 'update_post' post.pk %}">(Modifier)</a></small>

        <small><a href="{% url 'delete_post' post.pk %}">(Supprimer)</a></small>
        <br/>
        {{post.body|slice:":200" }} </li>
        {%endif%}
{%endfor%}
</ul>

{% else %}
<h2>Il y'a aucun résumé pour la catégorie séléctionnée</h2>



{%endif%}

{% endblock %}

