{% extends 'base.html' %}
{% block title %}Supprimer votre poste{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h1>Supprimer le poste</h1>
<br/><br/>
<h3>Supprimer : {{ post.title }}</h3>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
      <strong>Êtes-vous sûr ?</strong>
        <br/><br/>
        <button class="btn btn-danger">Supprimer</button>
    </form>
</div>
{% else %}

non non non degage d'ici faut se connecter d'abord

{% endif %}


{% endblock %}