{% extends 'base.html' %}

{% block content %}


<h1>Résumés</h1>

<ul>
{%for post in object_list%}
    <li> <a href="{% url 'post-details' post.pk %}">{{post.title}}</a> -
        <a href="{% url 'categorie' post.categorie|slugify %}">{{post.categorie}}</a>
        - {{post.author}}
        <small>{{ post.post_date }}</small>

        {% if user.is_authenticated %}
        <small><a href="{% url 'update_post' post.pk %}">(Modifier)</a></small>

        <small><a href="{% url 'delete_post' post.pk %}">(Supprimer)</a></small>
        <br/>
        {{post.body|slice:":200" }} </li>
        {%endif%}
{%endfor%}
</ul>

{% endblock %}