
{% extends 'base.html' %}
{% load static %}
{% block title %}{{post.title}}{% endblock %}

{% block content %}


<h1>{{post.title}}</h1>
<small>Posté par : {{post.author}} -
    {{ post.post_date }}
    {% if user.is_authenticated %}
        {%if user.id == post.author.id %}
    <a href="{% url 'update_post' post.pk %}">(Modifier)</a></small>
<small><a href="{% url 'delete_post' post.pk %}">(Supprimer)</a></small>
        {% endif %}
    {% endif %}
<hr>
<br/>


{% if post.header_image %}
<img src="{{ post.header_image.url }}">
{% endif %}

<br/><br/>
{{post.body|safe}}
<br/><br/>

<a href="{% url 'home' %}" class="btn btn-info">Home</a>
<br/><br/>

<hr>
<br/>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
{% if user.is_authenticated %}
    {% if liked %}
    <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger">
        Unlike
    </button>
    {% else %}
    <button type="submit", name="post_id", value="{{ post.id }}",  class="btn btn-success">
        Like
    </button>
    {% endif %}
{% endif %}
     {{ total_likes }} likes

</form>
<br/>
<hr>

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
        {% if post.author.profile.profile_pic %}
      <img src=" {{post.author.profile.profile_pic.url}}" class="img-fluid rounded-start rounded-circle"   >
        {% else %}
        <img src=" {% static 'leBlog/images/Windows_10_Default_Profile_Picture.svg.png' %}" class="img-fluid rounded-start rounded-circle"   >
        {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{post.author}}</h5>
          <p class="small text-muted">

              <a href="{% url 'show_profile_page' post.author.profile.id %}">
                  Profil
              </a>

              {% if post.author.profile.microsoft_teams_url %}
              <a href="{{post.author.profile.microsoft_teams_url}}">| Microsoft Teams |</a>
              {% endif %}
              {% if post.author.profile.github_url %}
              <a href="{{post.author.profile.github_url}}">Github |</a>
              {% endif %}
              {% if post.author.profile.linkedin_url %}
              <a href="{{post.author.profile.linkedin_url}}">LinkedIn </a>
              {% endif %}
          </p>
        <p class="card-text">{{post.author.profile.bio}}</p>

      </div>
    </div>
  </div>
</div>
<br/><br/>

<hr>
<h1>Commentaires</h1>
<br/>

{% if not post.comments.all %}
    Aucun commentaire
{% else %}

    {% for comment in post.comments.all %}
    <strong>
        {{ comment.name }}
        {{ comment.date_added }}
    </strong>
    <br/>
    {{ comment.body }}
<br/><br/>
    {% endfor %}
{% endif %}
<br/><br/>
<a href="{% url 'add_comment' post.pk %}" class="btn btn-info">Ajouter un commentaire</a>
<br/><br/>

{% endblock %}