{% extends 'base.html' %}
{% block title %}Modifier votre poste{% endblock %}
{% block content %}


{% if user.is_authenticated %}
{%if user.id == post.author.id %}
<h1>Modifier le résumé</h1>
<br/><br/>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-info">Modifier</button>
    </form>
</div>
{% else %}
non non non degage d'ici faut se connecter d'abord

{% endif %}
{% else %}

non non non degage d'ici faut se connecter d'abord

{% endif %}

{% endblock %}